@font-face {
  font-family: "FogCityGothic-Regular";
  src: local("FogCityGothic-Regular"), url("./fonts/FogCityGothic-Regular.otf") format("opentype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "FogCityGothic-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}